.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.router-container {
  height: 100%;
  background: url('~src/assets/imgs/background.png') repeat-x;
  background-size: auto 100%;
  overflow-y: auto;
}
