<div class="search">
  <mat-form-field appearance="fill" class="mat-focused mat-form-dark" floatLabel="always">
    <mat-label>
      Título
    </mat-label>
    <input type="text" matInput [formControl]="input" autocomplete="off" onblur="this.focus()" autofocus>
  </mat-form-field>

  <div class="search__songs" *ngIf="!loading">
    <app-song-card [song]="song" *ngFor="let song of songs" [isQueue]="false"></app-song-card>
  </div>

  <div class="search__spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
