.search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

mat-form-field {
  width: 100%;
  color: white;

}

.search__songs > * {
  margin: 25px 0;
  display: block;
}

.search__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
