<div class="controller">

  <div class="controller__buttons">

    <div class="controller__buttons--left"></div>

    <div class="controller__buttons--center">
      <button mat-icon-button class="controller__button" color="primary" (click)="openSearchModal()">
        <mat-icon>playlist_play</mat-icon>
      </button>
      <button mat-fab class="controller__button controller__button--play" color="primary" (click)="resume()" *ngIf="player?.status === 'PAUSED'">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-fab class="controller__button controller__button--play" color="primary" (click)="pause()" *ngIf="player?.status === 'PLAYING'">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-fab class="controller__button controller__button--play" color="primary" *ngIf="player?.status === 'LOADING'">
        <mat-spinner diameter="25"></mat-spinner>
      </button>
      <button mat-fab class="controller__button controller__button--play" color="primary" (click)="play()" *ngIf="player?.status === 'STOPPED' || player?.status === null">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button class="controller__button" color="primary" (click)="skip()">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>

    <div class="controller__buttons--right">
      <button mat-mini-fab class="controller__button--vol" color="primary" (click)="openVolumenModal()" *ngIf="!showModal">
        <mat-icon>volume_up</mat-icon>
      </button>
      <app-volumen (volumenUpdated)="changeVolumen($event)" *ngIf="showModal" [vol]="vol"></app-volumen>
    </div>

  </div>

  <div class="controller__slider">
    <span>{{currentTime * 1000 | date: getFormat():'UTC'}}</span>
    <mat-slider min="1" [max]="duration" step="1" [value]="currentTime || 0" (valueChange)="changeTime($event)"></mat-slider>
    <span>{{duration * 1000 | date: getFormat():'UTC'}}</span>
  </div>
</div>
