.controller {
  box-sizing: border-box;
  padding: 10px;
  background-color: #2e2f33;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.controller__buttons {
  width: 100%;
}

.controller__button {
  margin: 0 10px;
  color: #f86b42;
  background-color: #2e2f33;
}

.controller__buttons--left {
  box-sizing: border-box;
  width: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding: 0 20px;
}

.controller__buttons--center {
  box-sizing: border-box;
  width: 60%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.controller__buttons--right {
  box-sizing: border-box;
  width: 20%;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  padding: 0 20px;
}

.controller__button.controller__button--play {
  background-color: rgb(233, 233, 233);
}

.controller__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  max-width: 700px;
}

mat-slider {
  width: 60%;
  margin: 0 4px
}
