<div class="login darkMode">

  <h1>PHONOGRAPH</h1>
  <h2>Bot de música para Discord</h2>

  <div class="step--container">
    <button mat-fab color="primary" (click)="redirectLogin()"><mat-icon>person</mat-icon></button>
  </div>

  <div class="step">

    <div>
      <div class="step--container">
        <h3>Invita</h3>
        <h4>Agrega el bot a tu servidor</h4>
      </div>
      <div class="step--container">
        <h3>LogIn</h3>
        <h4>Ingresa a Phonograph</h4>
      </div>
    </div>

    <div>
      <div class="step--container">
        <h3>Conéctate</h3>
        <h4>Entra a tu sala de voz</h4>
      </div>
      <div class="step--container">
        <h3>¡Disfruta!</h3>
        <h4>Añade tus canciones</h4>
      </div>
    </div>

  </div>

  <p class="login__url"><a [href]="getInvitationLink()" target="_blank">Link de invitación del bot</a></p>
</div>
