span{
  font-size: 20px;
}

.step--leftSide {
  float: left;
}

.step--rightSide {
  float: right;
}

.step {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.step--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 7px 20px;
}

button {
  margin: 0 50px;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  color: #f86b42;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  color: #f86b42;
}

.login__url {
  text-align: center;
  margin: 0;

  a {
    color: rgba(128, 128, 128, 0.56);
  }
}
