<div class="card">
  <img [src]="song._image" class="card__image  mat-elevation-z8">
  <div class="card__details">
    <h2 class="card__title">{{song._title}}</h2>
    <p>
      <span class="card__author" >
        {{song._author}}
      </span>
      <span class="card__controllers">
        <mat-icon (click)="addSong()" *ngIf="!isQueue">control_point</mat-icon>
        <mat-icon id="delete" *ngIf="isQueue" (click)="delete()">delete</mat-icon>
      </span>
    </p>
  </div>
</div>
