:host {
  width: 100%;
  height: fit-content;
}

.card {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 80px;
  width: 100%;
  max-width: 750px;
}

.card__image {
  height: 100%;
  margin-right: 15px;
  border-radius: 2px
}

.card__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card__details h2 {
  height: 64px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__details p {
  vertical-align: middle;
}

.card__controllers {
  float: right;
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.card__controllers mat-icon {
  user-select: none;
}

.card__controllers mat-icon:hover {
  cursor: pointer;
}
