.menu {
  padding-left: 5px;
  background-repeat: repeat;
  background-position: center;
  background-size: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu p {
  margin: 0;
}