.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav img {
  display: block;
  width: 70%;
  margin: 20px auto;
}

mat-sidenav {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar p {
  margin: 0 40px 0 0;
  text-align: center;
  width: 100%;
}

.menu {
  padding-left: 5px;
  background-image: url('~src/assets/imgs/toolbar.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: 800px
}

.sidenav {
  background-color: #383a3e;
}

.sidenav a {
  color: white;
  width: 100%;
}

.sidenav .mat-list-item-content {
  justify-content: center;
}

app-controller {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  z-index: 1;
}

@media (min-width: 600px) {
  .menu {
    padding-left: 16px;
  }
  .mat-toolbar p {
    margin: 0
  }
}