<mat-sidenav-container class="sidenav-container sidenav-container__transparent" (backdropClick)="close()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$) ? 'over' : 'side'" [opened]="(isHandset$) === false">
    <img src="https://projectogshort.web.app/assets/icon/logo.png" alt="">
    <mat-nav-list>
      <a mat-list-item (click)="goTo('prueba1')">Link 1</a>
      <a mat-list-item (click)="goTo('prueba2')">Link 2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="menu">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <p>Phonograph</p>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-controller></app-controller>
  </mat-sidenav-content>
</mat-sidenav-container>