html, body {
  margin: 0;
  height: 100%;
  background-color: whitesmoke;
}

@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #ffc409,
  500: #f86b42,
  700: #f86b42,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #ffc409,
  500: #f86b42,
  700: #f86b42,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

@include angular-material-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.darkMode {
  @include angular-material-theme($app-dark-theme);
}


// CUSTOM

@import url("./styles/sidenav.scss");
@import url("./styles/modal.scss");

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(0, 0, 0, 10%);
}
